* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.resumebtn {
    font-size: 25px;
    height: 90px;
    padding: 15px;
    border: black 1px solid;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 10);
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: #a6caab;
        color: #005011;
    }
}

.resumebtn:active {
    transition: all 0.1s ease-in-out;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 5);
}

.resume-bgcolor {
    background-color: #a6caab;
    transition: all 0.2s ease-in-out;
}

.resume {
    width: 800px;
    margin-right: 20px;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: black 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.resumehead {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linebottom {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

.head-text {
    display: flex;
    flex-direction: column;
    
    h1 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    p {
        font-size: 15px;
        margin-bottom: 10px;
    }

}

.head-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        width: 150px;
        height: 150px;
        margin: 10px;
    }
}


.resumebody {
    margin: 15px;
    display: flex;
    flex-direction: column;

    h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }

}